:root {
    --top-pos-1: -4vw;
    --top-pos-2: -16vw;
    --top-pos-3: -40vw;

    --bottom-pos-1: -72vw;
    --bottom-pos-2: -72vw;
    --bottom-pos-3: -72vw;

    --end-pos-1: -72vw;
    --end-pos-2: 0vw;
    --end-pos-3: 0vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

html {
    font-size: 55%;
}

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

@keyframes reel-spin-1 {
    0% {
        top: -4vw;
    }
    100% {
        top: var(--bottom-pos-1);
    }
}

@keyframes reel-spin-2 {
    0% {
        top: -4vw;
    }
    100% {
        top: var(--bottom-pos-2);
    }
}

@keyframes reel-spin-3 {
    0% {
        top: -4vw;
    }
    100% {
        top: var(--bottom-pos-3);
    }
}

@keyframes reel-end-1 {
    0% {
        top: -4vw;
    }
    100% {
        top: var(--end-pos-1);
    }
}
@keyframes reel-end-2 {
    0% {
        top: -4vw;
    }
    100% {
        top: var(--end-pos-2);
    }
}
@keyframes reel-end-3 {
    0% {
        top: -4vw;
    }
    100% {
        top: var(--end-pos-3);
    }
}

.container {
    min-height: 100%;
    height: auto;
    background-image: url("../images/1080 x 1920 blue canvas.png");
    background-size: cover;
}

.reel-line {
    position: absolute;
    width: 86vw;
    height: 1vw;
    background-color: crimson;
    /* left: 10.5%; */
    top: 40%;
    z-index: 2;
}

.slot-screens, .btns-n-scores {
    display: flex;
    justify-content: center;
}

.slot-screens {
    width: 100%;
    align-items: center;
    padding: 8% 12% 0 0.5%;
    position: relative;
}

.indicator {
    position: relative;
}

.screen {
    width: 24vw;
    height: 35vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.reel-item {
    width: 60%;
    height: fit-content;
    /* position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%); */
}

.imgs-container {
    width: 100%;    
    position: relative;
    /* display: flex;
    justify-content: center; */
    overflow: hidden; 
    height: 91.55%;
}

/* .wrapper {
    width: 100%;
    position: absolute;
    animation: reel-spin 1.5s infinite both;
} */

.item-container {
    width: 100%;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    /* animation: reel-spin 0.6s ease-in-out infinite; */
    /* position: absolute; */
}

.wrapper {
    position: relative;
}

.top-1 {
    top: var(--top-pos-1);
}
.top-2 {
    top: var(--top-pos-2);
}
.top-3 {
    top: var(--top-pos-3);
}

.wrapper-1 {
    animation: reel-spin-1 0.3s ease-in-out infinite;
}
.wrapper-2 {
    top: var(--top-pos-2);
    animation: reel-spin-2 0.3s ease-in-out infinite;
}
.wrapper-3 {
    top: var(--top-pos-3);
    animation: reel-spin-3 0.3s ease-in-out infinite;
}

.end-1 {
    animation: reel-end-1 0.3s cubic-bezier(.93,.24,.3,1.37) forwards;
}
.end-2 {
    animation: reel-end-2 0.3s cubic-bezier(.93,.24,.3,1.37) forwards;
}.end-3 {
    animation: reel-end-3 0.3s cubic-bezier(.93,.24,.3,1.37) forwards;
}

.peanuts {
    width: 35%;
    height: 90%;
}
.diamond {
    width: 50%;
}

.animation-paused {
    animation-play-state: paused;
}

.end-animation {
    animation: reel-end 1s cubic-bezier(.93,.24,.3,1.37) forwards;
}

.reel-1 {
    animation-delay: 0.1s;
}
 
.reel-2 {        
    animation-delay: 0.2s;
}
.reel-3 {    
    animation-delay: 0.3s;
}

.reel-4 {
    animation-delay: 0.4s;
}
.reel-5 {
    animation-delay: 0.5s;
}

.animation-pause {
    animation-play-state: paused;
}

.screen:not(:last-child) {
    margin-right: 1.5%;
}

.screen-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.img-indicator {
    height: 9vw;
    padding-right: 2vw;
    position: relative;
    z-index: 3;
}

.btns-n-scores {
    padding: 0 11% 1.5%;
}



.btn-team {
    width: 22vw;
    margin: 3.4% 0 0;
}

.team-btn-img {
    width: 100%;
}

.select-innings {
    padding: 2vw 3vw;
    background-color: #C3C3C3;
    border: 0.4vw solid black;
    box-shadow: inset .2vw .2vw 0px 0px #00a2e8, inset -.2vw -.2vw 0px 0px #00a2e8;
    margin: 9% 0 0 0;
    height: fit-content;
    width: fit-content;
    font-size: 4vw;
}

.select-innings, .arrow-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow-btn {
    margin-top: 4%;
}

.img-arrow {
    width: 10vw;
    height: fit-content;
    margin-top: 4.8%;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    text-align: center;
}

.d-flex {
    /* display: flex;
    height: fit-content;
    flex-direction: column; */
    width: 100%;
    align-items: center;
}

.score-screen, .all-score-screen {
    width: 22vw;
    height: 11vw;
}

.score-screen {
    background-image: url("../images/window scores blue edge.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    color: white;
    font-size: 5vw;
}

.all-score-screen {
    position: relative;
}

.spacing {
    padding: 0 3%;
}

.game-btns {
    position: relative;
}

.game-btns-background {
    width: 100%;
    position: relative;
    z-index: 0;
}

.btns-container {
    width: 90%;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.btn-base img {
    pointer-events: none;
}

.wrapper-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -50%;
    width: 100%;
    z-index: -1;
}

.btn-base {
    width: 30%;
    margin: 3%;
}

.btn-base img {
    width: 100%;
}

.btn-spin {
    width: 35%;
}

.img-points-table {
    width: 100%;
}

.bottom-grass-img {
    width: 100%;
}

.footer {
    background-color:rgb(7, 65, 7);
}

@media only screen and (min-width: 1024px) {
    .container {
        transform: scale(.5);
        position: absolute;
        top: -43vw;
    }
    body {
        background-image: url(../images/1080\ x\ 1920\ blue\ canvas.png);
        background-size: cover;
    }
}